* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 105%;
  background-color: #f2f2f2; /* #ecf0f1; Not So White */
}

h1,h4,h6 {
    font-family: 'Poppins', sans-serif;
}

.subHeading {
  font-family: 'Lato', sans-serif;
  color:black;
  letter-spacing: 2px;
  text-decoration: underline;
}


.btn {
    
    background-color: black;
    color: white;

}


.btn:hover {
      color: #636e72;
}


ion-icon {
  font-size: 25px;
}


/*--- HEADER ---*//*--- HEADER ---*//*--- HEADER ---*/

header {
 background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow:    0 8px 6px -6px #999;
    box-shadow:         0 8px 6px -6px #999;
}

#main-showcase {
  width:  100%;
}
         
#brand-logo {
  width: 120px;
} 


#cartIcon,
#loginIcon {
  width: 28px;
}

.navbar {
  font-family: 'Poppins', sans-serif;
}

.navbar ion-icon,
.nav-item a {
  color: black;
}


/* This will remove blue border after clicked */
.navbar-toggler:focus,
.navbar-toggler:active {
   outline: none !important;
   box-shadow: none;
}


.nav-item a:hover{
/*   background-color:#FCC; */
    color: #2c3e50; /* Midnight blue*/

}


/* LOGIN FORM
-------------------------------------------------- */
#LoginModal h5 {
  color: black;
}

#LoginModal .form-check-label {
  font-size: 85%;
}

.loginmodal-container {

}

.modal-header {
  background-color: black;
  color: white;
}

.modal #exampleModalLabel {
  color: white;
} 

.modal-header button span {
  color: white; 
}


/* SEARCH MODAL FORM
-------------------------------------------------- */

/*-------------------------------------------------- */
/* MAIN SHOWCASE SECTION --------------------------- */
/*-------------------------------------------------- */






/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel-item {
  height: 450px;
  font-family: 'Poppins', sans-serif;
}


#myCarousel .btn {
    background-color: #ecf0f1;
    color: black ;

}

#myCarousel .btn:hover {
  color: #636e72;
}



.carousel-image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3)  url('../img/showcase1lg.jpg');
  background-size: cover;
  height: 450px;
}

.carousel-image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3)  url('../img/showcase2lg.jpg');
  background-size: cover;
  height: 450px;
}

.carousel-image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3)  url('../img/showcase3lg.jpg');
  background-size: cover;
  height: 450px;
}

 .carousel-image-1sm {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3)  url('../img/showcase1sm.jpg');
  background-size: cover;
  height: 450px;
}

 .carousel-image-2sm {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3)  url('../img/showcase2sm.jpg');
  background-size: cover;
  height: 450px;
}

 .carousel-image-3sm {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3)  url('../img/showcase3sm.jpg');
  background-size: cover;
  height: 450px;
}


/* NEW ARRIVAL SECTION
-------------------------------------------------- */
 
 #newArrivalSection {
    width: 97%;
 }

 #newArrivalSection .btn {
    font-size: 85%;letter-spacing: 2px
 }

/* MEN SECTION
-------------------------------------------------- */
 
 #menSection {
    width: 97%;
 }

 #menSection .card {
    position: relative; 
 }

 #menSection .btn {
    font-size: 85%;letter-spacing: 2px;
    position: absolute;
    left:26%;
    top: 82%;
    
 }


/* WOMEN SECTION
-------------------------------------------------- */
 
 #womenSection {
    width: 97%;
 }

 #womenSection .card {
    position: relative; 
 }

 #womenSection .btn {
    background-color: #f2f2f2;
    color: black;
    font-size: 90%;letter-spacing: 2px;
    position: absolute;
    left:25%;
    top: 82%;
  }

  #womenSection .btn:hover {
    color: #636e72;
  }

 
.womenSectionBG {
   background: url('https://github.com/bremlydv/capstone1/blob/master/assets/img/womenBg.jpg?raw=true');
   background-size: cover;
   background-attachment: fixed; 
}

/* SPORT WEAR SECTION
-------------------------------------------------- */
 
 #sportswearSection {
    width: 97%;
 }

 #sportswearSection h2{
    color: white;
 }

 #sportswearSection .btn {
    font-size: 85%;letter-spacing: 2px
 }

.sportswearBG {
 background: url('https://github.com/bremlydv/capstone1/blob/master/assets/img/sportsBg.jpg?raw=true');
 background-size: cover;
 background-attachment: fixed;
}

/* INFO SECTION
-------------------------------------------------- */
 
 
 #infoSection h4{
  letter-spacing: 2px;
  font-style: bold;
  font-family: 'Lato', sans-serif;
 }

 #infoSection img {
    width: 60px;
 }

 #infoSection h4 {
  font-size: 90%;
 }

 #infoSection p {
  font-size: 80%;
  font-family: 'Open Sans', sans-serif;
 }
    
 
 .no-bg {
   background-color:#f2f2f2;
 } 




/* About Us Section
-------------------------------------------------- */

.aboutUs {
  width: 97%;
}

.aboutUsBG {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                              rgba(255, 255, 255, 0.5)  url('../img/aboutUsBG.jpg');
  background-size: cover;
}


/* Contact Us Section
-------------------------------------------------- */

#contactSection {
  font-family: 'Lato', sans-serif;
}

#contactSection h1 {
  font-family: 'Lato', sans-serif;
  color: black;
}

#contactSection button {
  font-family: 'Lato', sans-serif;
}


/* CHECKOUT SECTION
-------------------------------------------------- */

#checkoutSection li {
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
}

#checkoutSection h6 {
  font-family: 'Lato', sans-serif;  
  font-size: 100%;
}


#checkoutSection .card {
    position: relative; 
}

#checkoutSection .btn {
    font-size: 85%;letter-spacing: 2px;

}

#checkoutSection .fab {
    color: black;
}

#youAlsoLikeSection .btn {
  font-size: 85%;letter-spacing: 2px;
    position: absolute;
    left:26%;
    top: 82%;
}

#youAlsoLikeSection {
  width: 97%;
}

/* ABOUT US CSS
-------------------------------------------------- */

.aboutUsSection h1 {
  font-family: 'Lato', sans-serif;  

}

/* FOOTER CSS
-------------------------------------------------- */
footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 70%;
}

footer h6 {
  font-size: 115%; 
  font-family: 'Poppins', sans-serif;

}

footer li {
  letter-spacing: .5px;
}


footer .row h6 a {
  color: inherit;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}
  .carousel-item h1 {
    font-size: 250%;
  }

  .info-icon {
    padding-top: 3%;
    padding-left:3%;
    padding-right:3%;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .info-icon {
    padding-top: 3%;
    padding-left:3%;
    padding-right:3%;
  }

  #infoSection .card-title {
    padding-top: 3%;
  }



  #menSection .btn {
    font-size: 50%;letter-spacing: 2px;
    position: absolute;
    left:20%;
    top: 78%;   
  }

  #youAlsoLikeSection .btn {
    font-size: 50%;letter-spacing: 2px;
    position: absolute;
    left:20%;
    top: 80%;
  }


  header {
    margin-bottom: 30px;
  }

  #womenSection .btn {
    font-size: 50%;letter-spacing: 2px;
    position: absolute;
    left:20%;
    top: 78%;   
  }

  #infoSection h3 {
    padding-top: 15%;
  }

}



/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .info-icon {
    padding-top: 5%;
    padding-left:3%;
    padding-right:6%;
  }

}



