* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Lato', sans-serif;
  font-size: 105%;
  background-color: #ecf0f1; /* #ecf0f1; Not So White */
  color: #2c3e50;
}

section {

}

.pop-font {
  font-family: 'Roboto', sans-serif;

}


header {
 background-color: white;
}

.main-showcase {
  width:  95%;
}

#brand-logo {
  width: 120px;
} 

#loginIcon {
  width: 28px;
}

#cartIcon {
  width: 28px;
}


.btn-bg-black{
  background-color: black;
  border-radius: none;
  color: white;
}

.nav-item {
  color: #2c3e50;
}

/* This will remove blue border after clicked */
.navbar-toggler:focus,
.navbar-toggler:active {
   outline: none !important;
   box-shadow: none;
}







/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3) url('../img/showcase1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.carousel-image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3) url('../img/showcase2.jpg');
  background-size: cover;
  background-attachment: fixed;

}

.carousel-image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                              rgba(0, 0, 0, 0.3) url('../img/showcase3.jpg');
  background-size: cover;
  background-attachment: fixed;
}


/* FOOTER CSS
-------------------------------------------------- */
footer {
  font-family: 'lato', sans-serif;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: 'Poppins', sans-serif;

}

/* .navbar .navbar-nav {
  text-align: left;
} */

ion-icon,
.nav-item a {
  color: black;
}


ion-icon {
  font-size: 25px;
}






